
/*cm_sysdb_begin*/
@import url("//fonts.cm4all.net/css?subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese&family=Cormorant+SC:300,regular,500,600,700|Cormorant:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic|Hind+Guntur:300,regular,500,600,700");
/*cm_sysdb_end*/

.cm-offline-content {
    color: #212121;
    background-color: #FFFFFF;
}
.design_content,.cm-templates-container,.cm-templates-text,.cm-templates-footer{font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
;line-height:1.4
}
h1,.cm-h1{font-size:xx-large
;font-family:Cormorant, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h2{font-size:x-large
;font-family:Cormorant, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h3{font-size:large
;font-family:Hind Guntur, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
h4,h5,h6{font-size:large
;font-family:Hind Guntur, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
#title,.title_wrapper .title,.title_wrapper .bigtitle{font-family:Cormorant SC, sans-serif
;font-size:xx-large
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
#subtitle{font-family:Cormorant, sans-serif
;font-size:x-large
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
.cm-templates-navigation,.navigation_wrapper a,.navigation a,.mobile_navigation a,.navigation>ul>li:after,.navigation li.cm_has_subnavigation>a:after{font-size:large
;font-family:Hind Guntur, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
}
.cm_widget input[type="text"],.cm_widget form input[type="text"],.cm_widget input[type="date"],.cm_widget form input[type="date"],.cm_widget input[type="datetime"],.cm_widget form input[type="datetime"],.cm_widget input[type="email"],.cm_widget form input[type="email"],.cm_widget input[type="number"],.cm_widget form input[type="number"],.cm_widget input[type="password"],.cm_widget form input[type="password"],.cm_widget input[type="search"],.cm_widget form input[type="search"],.cm_widget input[type="tel"],.cm_widget form input[type="tel"],.cm_widget input[type="time"],.cm_widget form input[type="time"],.cm_widget input[type="url"],.cm_widget form input[type="url"],.cm_widget select,.cm_widget form select,.cm_widget textarea,.cm_widget form textarea{border:0;border:1px solid rgba(33
,33
,33
,0.45);border:1px solid rgba(33,33,33
,0.45);color:#212121
;border-radius:2px;padding:11px 12px;background-color:rgba(33
,33
,33
,0.03);background-color:rgba(33,33,33
,0.03);transition:border .3s,box-shadow .3s;font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
;line-height:1.4
}
.cm_widget input[type="text"]:hover,.cm_widget form input[type="text"]:hover,.cm_widget input[type="date"]:hover,.cm_widget form input[type="date"]:hover,.cm_widget input[type="datetime"]:hover,.cm_widget form input[type="datetime"]:hover,.cm_widget input[type="email"]:hover,.cm_widget form input[type="email"]:hover,.cm_widget input[type="number"]:hover,.cm_widget form input[type="number"]:hover,.cm_widget input[type="password"]:hover,.cm_widget form input[type="password"]:hover,.cm_widget input[type="search"]:hover,.cm_widget form input[type="search"]:hover,.cm_widget input[type="tel"]:hover,.cm_widget form input[type="tel"]:hover,.cm_widget input[type="time"]:hover,.cm_widget form input[type="time"]:hover,.cm_widget input[type="url"]:hover,.cm_widget form input[type="url"]:hover,.cm_widget select:hover,.cm_widget form select:hover,.cm_widget textarea:hover,.cm_widget form textarea:hover{border:1px solid rgba(33
,33
,33
,0.8);border:1px solid rgba(33,33,33
,0.8)}
.cm_widget input[type="text"]:focus,.cm_widget form input[type="text"]:focus,.cm_widget input[type="date"]:focus,.cm_widget form input[type="date"]:focus,.cm_widget input[type="datetime"]:focus,.cm_widget form input[type="datetime"]:focus,.cm_widget input[type="email"]:focus,.cm_widget form input[type="email"]:focus,.cm_widget input[type="number"]:focus,.cm_widget form input[type="number"]:focus,.cm_widget input[type="password"]:focus,.cm_widget form input[type="password"]:focus,.cm_widget input[type="search"]:focus,.cm_widget form input[type="search"]:focus,.cm_widget input[type="tel"]:focus,.cm_widget form input[type="tel"]:focus,.cm_widget input[type="time"]:focus,.cm_widget form input[type="time"]:focus,.cm_widget input[type="url"]:focus,.cm_widget form input[type="url"]:focus,.cm_widget select:focus,.cm_widget form select:focus,.cm_widget textarea:focus,.cm_widget form textarea:focus{outline:0;border:1px solid #212121
;box-shadow:0 0 6px rgba(33
,33
,33
,0.4);box-shadow:0 0 6px rgba(33,33,33
,0.4)}
.cm_widget input[type="button"],.cm_widget form input[type="button"],.cm_widget input[type="submit"],.cm_widget form input[type="submit"],.cm_widget input[type="reset"],.cm_widget form input[type="reset"],.cm_widget button,.cm_widget form button{background-color:rgba(33
,33
,33
,0.08);background-color:rgba(33,33,33
,0.08);border:1px solid rgba(33
,33
,33
,0.35);border:1px solid rgba(33,33,33
,0.35);color:#212121
;padding:10px 14px;border-radius:2px;box-shadow:0 3px 3px -2px rgba(33
,33
,33
,0.5);box-shadow:0 3px 3px -2px rgba(33,33,33
,0.5);cursor:pointer;transition:transform .1s,box-shadow .2s,border .2s;font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
;line-height:1.4
}
@media screen and (min-width:1251px){.cm_widget input[type="button"]:hover,.cm_widget form input[type="button"]:hover,.cm_widget input[type="submit"]:hover,.cm_widget form input[type="submit"]:hover,.cm_widget input[type="reset"]:hover,.cm_widget form input[type="reset"]:hover,.cm_widget button:hover,.cm_widget form button:hover{border:1px solid rgba(33
,33
,33
,0.8);border:1px solid rgba(33,33,33
,0.8)}
}
.cm_widget input[type="button"]:focus,.cm_widget form input[type="button"]:focus,.cm_widget input[type="submit"]:focus,.cm_widget form input[type="submit"]:focus,.cm_widget input[type="reset"]:focus,.cm_widget form input[type="reset"]:focus,.cm_widget button:focus,.cm_widget form button:focus{outline:0;transform:translateY(2px);box-shadow:0 2px 3px -2px rgba(33
,33
,33
,0.4);box-shadow:0 2px 3px -2px rgba(33,33,33
,0.4)}
.footer_wrapper .cm_widget input[type="text"],.footer_wrapper .cm_widget form input[type="text"],.sidebar_wrapper .cm_widget input[type="text"],.sidebar_wrapper .cm_widget form input[type="text"],.footer_wrapper .cm_widget input[type="date"],.footer_wrapper .cm_widget form input[type="date"],.sidebar_wrapper .cm_widget input[type="date"],.sidebar_wrapper .cm_widget form input[type="date"],.footer_wrapper .cm_widget input[type="datetime"],.footer_wrapper .cm_widget form input[type="datetime"],.sidebar_wrapper .cm_widget input[type="datetime"],.sidebar_wrapper .cm_widget form input[type="datetime"],.footer_wrapper .cm_widget input[type="email"],.footer_wrapper .cm_widget form input[type="email"],.sidebar_wrapper .cm_widget input[type="email"],.sidebar_wrapper .cm_widget form input[type="email"],.footer_wrapper .cm_widget input[type="number"],.footer_wrapper .cm_widget form input[type="number"],.sidebar_wrapper .cm_widget input[type="number"],.sidebar_wrapper .cm_widget form input[type="number"],.footer_wrapper .cm_widget input[type="password"],.footer_wrapper .cm_widget form input[type="password"],.sidebar_wrapper .cm_widget input[type="password"],.sidebar_wrapper .cm_widget form input[type="password"],.footer_wrapper .cm_widget input[type="search"],.footer_wrapper .cm_widget form input[type="search"],.sidebar_wrapper .cm_widget input[type="search"],.sidebar_wrapper .cm_widget form input[type="search"],.footer_wrapper .cm_widget input[type="tel"],.footer_wrapper .cm_widget form input[type="tel"],.sidebar_wrapper .cm_widget input[type="tel"],.sidebar_wrapper .cm_widget form input[type="tel"],.footer_wrapper .cm_widget input[type="time"],.footer_wrapper .cm_widget form input[type="time"],.sidebar_wrapper .cm_widget input[type="time"],.sidebar_wrapper .cm_widget form input[type="time"],.footer_wrapper .cm_widget input[type="url"],.footer_wrapper .cm_widget form input[type="url"],.sidebar_wrapper .cm_widget input[type="url"],.sidebar_wrapper .cm_widget form input[type="url"],.footer_wrapper .cm_widget select,.footer_wrapper .cm_widget form select,.sidebar_wrapper .cm_widget select,.sidebar_wrapper .cm_widget form select,.footer_wrapper .cm_widget textarea,.footer_wrapper .cm_widget form textarea,.sidebar_wrapper .cm_widget textarea,.sidebar_wrapper .cm_widget form textarea{font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
;line-height:1.4
}
.footer_wrapper .cm_widget input[type="button"],.footer_wrapper .cm_widget form input[type="button"],.sidebar_wrapper .cm_widget input[type="button"],.sidebar_wrapper .cm_widget form input[type="button"],.footer_wrapper .cm_widget input[type="submit"],.footer_wrapper .cm_widget form input[type="submit"],.sidebar_wrapper .cm_widget input[type="submit"],.sidebar_wrapper .cm_widget form input[type="submit"],.footer_wrapper .cm_widget input[type="reset"],.footer_wrapper .cm_widget form input[type="reset"],.sidebar_wrapper .cm_widget input[type="reset"],.sidebar_wrapper .cm_widget form input[type="reset"],.footer_wrapper .cm_widget button,.footer_wrapper .cm_widget form button,.sidebar_wrapper .cm_widget button,.sidebar_wrapper .cm_widget form button{font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
;line-height:1.4
}
.cm-templates-empty{display:none !important}
body{background-color:#ffffff
}
.center_wrapper,.cm-template-content__main{font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
;line-height:1.4
}
.center_wrapper h1,.cm-h1{font-size:xx-large
;font-family:Cormorant, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
.center_wrapper h2{font-size:x-large
;font-family:Cormorant, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
.center_wrapper h3{font-size:large
;font-family:Hind Guntur, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
.center_wrapper h4,.center_wrapper h5,.center_wrapper h6{font-size:large
;font-family:Hind Guntur, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
;margin-bottom:.7em}
#cm_navigation a{font-size:large
;font-family:Hind Guntur, sans-serif
;font-weight:normal
;font-style:normal
;line-height:initial
}
.cm_widget input[type='text'],.cm_widget input[type='date'],.cm_widget input[type='datetime'],.cm_widget input[type='email'],.cm_widget input[type='number'],.cm_widget input[type='password'],.cm_widget input[type='search'],.cm_widget input[type='tel'],.cm_widget input[type='time'],.cm_widget input[type='url'],.cm_widget textarea,.cm_widget select,.cm_widget button,.cm_widget input[type='button'],.cm_widget input[type='submit'],.cm_widget input[type='reset']{border:0;border:1px solid rgba(33
,33
,33
,0.45);border:1px solid rgba(33,33,33
,0.45);color:#212121
;border-radius:2px;padding:11px 12px;background-color:rgba(33
,33
,33
,0.03);background-color:rgba(33,33,33
,0.03);transition:border .3s,box-shadow .3s;font-family:Cormorant, sans-serif
;font-size:large
;font-weight:normal
;font-style:italic
}
.cm_widget input[type='text']:hover,.cm_widget input[type='date']:hover,.cm_widget input[type='datetime']:hover,.cm_widget input[type='email']:hover,.cm_widget input[type='number']:hover,.cm_widget input[type='password']:hover,.cm_widget input[type='search']:hover,.cm_widget input[type='tel']:hover,.cm_widget input[type='time']:hover,.cm_widget input[type='url']:hover,.cm_widget textarea:hover,.cm_widget select:hover,.cm_widget button:hover,.cm_widget input[type='button']:hover,.cm_widget input[type='submit']:hover,.cm_widget input[type='reset']:hover{border:1px solid rgba(33
,33
,33
,0.8);border:1px solid rgba(33,33,33
,0.8)}
.cm_widget input[type='text']:focus,.cm_widget input[type='date']:focus,.cm_widget input[type='datetime']:focus,.cm_widget input[type='email']:focus,.cm_widget input[type='number']:focus,.cm_widget input[type='password']:focus,.cm_widget input[type='search']:focus,.cm_widget input[type='tel']:focus,.cm_widget input[type='time']:focus,.cm_widget input[type='url']:focus,.cm_widget textarea:focus,.cm_widget select:focus,.cm_widget button:focus,.cm_widget input[type='button']:focus,.cm_widget input[type='submit']:focus,.cm_widget input[type='reset']:focus{outline:0;border:1px solid #212121
;box-shadow:0 0 6px rgba(33
,33
,33
,0.4);box-shadow:0 0 6px rgba(33,33,33
,0.4)}
.cm_widget button,.cm_widget input[type='button'],.cm_widget input[type='submit'],.cm_widget input[type='reset']{background-color:rgba(33
,33
,33
,0.08);background-color:rgba(33,33,33
,0.08);border:1px solid rgba(33
,33
,33
,0.35);border:1px solid rgba(33,33,33
,0.35);color:#212121
;padding:10px 14px;border-radius:2px;box-shadow:0 3px 3px -2px rgba(33
,33
,33
,0.5);box-shadow:0 3px 3px -2px rgba(33,33,33
,0.5);cursor:pointer;transition:transform .1s,box-shadow .2s,border .2s}
@media screen and (min-width:1251px){.cm_widget button:hover,.cm_widget input[type='button']:hover,.cm_widget input[type='submit']:hover,.cm_widget input[type='reset']:hover{border:1px solid rgba(33
,33
,33
,0.8);border:1px solid rgba(33,33,33
,0.8)}
}
.cm_widget button:focus,.cm_widget input[type='button']:focus,.cm_widget input[type='submit']:focus,.cm_widget input[type='reset']:focus{outline:0;transform:translateY(2px);box-shadow:0 2px 3px -2px rgba(33
,33
,33
,0.4);box-shadow:0 2px 3px -2px rgba(33,33,33
,0.4)}
.sidebar_wrapper .cm_widget input[type='text'],.sidebar_wrapper .cm_widget input[type='date'],.sidebar_wrapper .cm_widget input[type='datetime'],.sidebar_wrapper .cm_widget input[type='email'],.sidebar_wrapper .cm_widget input[type='number'],.sidebar_wrapper .cm_widget input[type='password'],.sidebar_wrapper .cm_widget input[type='search'],.sidebar_wrapper .cm_widget input[type='tel'],.sidebar_wrapper .cm_widget input[type='time'],.sidebar_wrapper .cm_widget input[type='url'],.sidebar_wrapper .cm_widget textarea,.sidebar_wrapper .cm_widget select,.sidebar_wrapper .cm_widget button,.sidebar_wrapper .cm_widget input[type='button'],.sidebar_wrapper .cm_widget input[type='submit'],.sidebar_wrapper .cm_widget input[type='reset']{border:0;border:1px solid rgba(152
,42
,44
,0.45);border:1px solid rgba(152,42,44
,0.45);color:#982A2C
;border-radius:2px;padding:11px 12px;background-color:rgba(152
,42
,44
,0.03);background-color:rgba(152,42,44
,0.03);transition:border .3s,box-shadow .3s}
.sidebar_wrapper .cm_widget input[type='text']:hover,.sidebar_wrapper .cm_widget input[type='date']:hover,.sidebar_wrapper .cm_widget input[type='datetime']:hover,.sidebar_wrapper .cm_widget input[type='email']:hover,.sidebar_wrapper .cm_widget input[type='number']:hover,.sidebar_wrapper .cm_widget input[type='password']:hover,.sidebar_wrapper .cm_widget input[type='search']:hover,.sidebar_wrapper .cm_widget input[type='tel']:hover,.sidebar_wrapper .cm_widget input[type='time']:hover,.sidebar_wrapper .cm_widget input[type='url']:hover,.sidebar_wrapper .cm_widget textarea:hover,.sidebar_wrapper .cm_widget select:hover,.sidebar_wrapper .cm_widget button:hover,.sidebar_wrapper .cm_widget input[type='button']:hover,.sidebar_wrapper .cm_widget input[type='submit']:hover,.sidebar_wrapper .cm_widget input[type='reset']:hover{border:1px solid rgba(152
,42
,44
,0.8);border:1px solid rgba(152,42,44
,0.8)}
.sidebar_wrapper .cm_widget input[type='text']:focus,.sidebar_wrapper .cm_widget input[type='date']:focus,.sidebar_wrapper .cm_widget input[type='datetime']:focus,.sidebar_wrapper .cm_widget input[type='email']:focus,.sidebar_wrapper .cm_widget input[type='number']:focus,.sidebar_wrapper .cm_widget input[type='password']:focus,.sidebar_wrapper .cm_widget input[type='search']:focus,.sidebar_wrapper .cm_widget input[type='tel']:focus,.sidebar_wrapper .cm_widget input[type='time']:focus,.sidebar_wrapper .cm_widget input[type='url']:focus,.sidebar_wrapper .cm_widget textarea:focus,.sidebar_wrapper .cm_widget select:focus,.sidebar_wrapper .cm_widget button:focus,.sidebar_wrapper .cm_widget input[type='button']:focus,.sidebar_wrapper .cm_widget input[type='submit']:focus,.sidebar_wrapper .cm_widget input[type='reset']:focus{outline:0;border:1px solid #982A2C
;box-shadow:0 0 6px rgba(152
,42
,44
,0.4);box-shadow:0 0 6px rgba(152,42,44
,0.4)}
.shopWidgetSeperatedDiv input[type='text'],.shopWidgetSeperatedDiv button,.shopWidgetSeperatedDiv input[type='button'],.shopWidgetSeperatedDiv input[type='submit'],.shopWidgetSeperatedDiv input[type='reset']{padding:8px 3px;min-width:45px}
.shopWidgetSeperatedDiv button,.shopWidgetSeperatedDiv input[type='button'],.shopWidgetSeperatedDiv input[type='submit'],.shopWidgetSeperatedDiv input[type='reset']{background-size:cover !important;border:0}
.content_main_dho .cm-widget-shop-head-wrapper .cm-widget-shop-cart .fa-shopping-cart{color:#212121
!important}
.content_main_dho .cm-widget-shop-head-wrapper .cm-widget-shop-cart .cm-widget-shop-cart-notify{background-color:#212121
!important}
.content_main_dho .cm-widget-shop-head-wrapper .cm-widget-shop-cart .cm-widget-shop-cart-notify>span{color:#FFFFFF
!important}
.content_main_dho .cm-widget-shop-detail .cm-widget-shop-button-medium,.content_main_dho .cm-widget-shop-cart-footer .cm-widget-shop-button-medium{color:#212121
!important;border-color:#212121
!important;background-color:#FFFFFF
!important}
.content_main_dho .cm-widget-shop-detail .cm-widget-shop-button-medium:hover,.content_main_dho .cm-widget-shop-cart-footer .cm-widget-shop-button-medium:hover{background-color:#212121
!important;color:#FFFFFF
!important}
.sidebar_wrapper .cm-widget-shop-head-wrapper .cm-widget-shop-cart .fa-shopping-cart{color:#982A2C
!important}
.sidebar_wrapper .cm-widget-shop-head-wrapper .cm-widget-shop-cart .cm-widget-shop-cart-notify{background-color:#982A2C
!important}
.sidebar_wrapper .cm-widget-shop-head-wrapper .cm-widget-shop-cart .cm-widget-shop-cart-notify>span{color:#f8f8f8
!important}
.sidebar_wrapper .cm-widget-shop-detail .cm-widget-shop-button-medium,.sidebar_wrapper .cm-widget-shop-cart-footer .cm-widget-shop-button-medium{color:#982A2C
!important;border-color:#982A2C
!important}
.sidebar_wrapper .cm-widget-shop-detail .cm-widget-shop-button-medium .cm-widget-shop-button-background,.sidebar_wrapper .cm-widget-shop-cart-footer .cm-widget-shop-button-medium .cm-widget-shop-button-background{background-color:#f8f8f8
!important}
.sidebar_wrapper .cm-widget-shop-detail .cm-widget-shop-button-medium:hover,.sidebar_wrapper .cm-widget-shop-cart-footer .cm-widget-shop-button-medium:hover{background-color:#982A2C
!important;color:#f8f8f8
!important}
.sidebar_wrapper .cm-widget-shop-detail .cm-widget-shop-button-medium:hover .cm-widget-shop-button-background,.sidebar_wrapper .cm-widget-shop-cart-footer .cm-widget-shop-button-medium:hover .cm-widget-shop-button-background{background-color:#982A2C
!important}
.cm-shop-widget-popup .cm-widget-shop-button-medium{color:#212121
!important;border-color:#212121
!important}
.cm-shop-widget-popup .cm-widget-shop-button-medium:hover{background-color:#212121
!important;color:#FFFFFF
!important}
.navigation_wrapper{background-color:#f8f8f8
;background-color:rgba(248,248,248
,0.85)}
.toggle_navigation a{color:#982A2C
;color:rgba(152,42,44
,0.7)}
.title_wrapper{color:#982A2C
;background-color:#f8f8f8
}
.title_wrapper h2{color:#51857c
}
#logo{background-color:#f8f8f8
;box-shadow:0 0 0 2px #982A2C
,0 0 0 7px #f8f8f8
}
.main_wrapper,.placeholder{background-color:#FFFFFF
;color:#212121
}
.content_main_dho a{color:#212121
;text-decoration:underline}
.content_main_dho a:hover{text-decoration:none}
.sidebar_wrapper{color:#982A2C
;background-color:#f8f8f8
}
.sidebar_wrapper a{color:#982A2C
;text-decoration:underline}
.sidebar_wrapper a:hover{text-decoration:none}
.sidebar_wrapper:after{background:#f8f8f8
;background:-moz-linear-gradient(top,#f8f8f8
0,#FFFFFF
100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f8f8f8
),color-stop(100%,#FFFFFF
));background:-webkit-linear-gradient(top,#f8f8f8
0,#FFFFFF
100%);background:-o-linear-gradient(top,#f8f8f8
0,#FFFFFF
100%);background:-ms-linear-gradient(top,#f8f8f8
0,#FFFFFF
100%);background:linear-gradient(to bottom,#f8f8f8
0,#FFFFFF
100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#FFFFFF',GradientType=0)}
.footer_wrapper{background-color:#f8f8f8
;color:#982A2C
}
.footer_wrapper a,.scrollup,.scrollup a{color:#982A2C
}
@media only screen and (min-width:1px) and (max-width:1023px){.scrollup{background-color:#FFFFFF
}
.scrollup a{color:#f8f8f8
}
}
.navigation_wrapper>ul>li>a{color:#982A2C
;color:rgba(152,42,44
,0.6)}
.navigation_wrapper>ul>li:hover>a,.navigation_wrapper>ul>li:focus-within>a,.navigation_wrapper>ul>li.cm_current>a{color:#982A2C
}
.navigation_wrapper>ul>li>ul{border:2px solid #982A2C
;box-shadow:0 0 0 4px #f8f8f8
}
.navigation_wrapper>ul>li.cm_has_subnavigation>ul:before{border-bottom:10px solid #982A2C
;border-left:8px solid transparent;border-right:8px solid transparent;background-color:transparent !important}
.navigation_wrapper>ul>li>ul>li>a{background-color:#982A2C
,0.85;background-color:rgba(152,42,44
,0.85);color:#f8f8f8
}
.navigation_wrapper>ul>li>ul>li>ul>li>a{background-color:#982A2C
;background-color:rgba(152,42,44
,0.85);color:#f8f8f8
}
.navigation_wrapper>ul>li>ul>li:hover>a,.navigation_wrapper>ul>li>ul>li:focus-within>a,.navigation_wrapper>ul>li>ul>li.cm_current>a{background-color:#f8f8f8
;background-color:rgba(248,248,248
,0.75);color:#982A2C
}
.navigation_wrapper>ul>li>ul>li>ul>li:hover>a,.navigation_wrapper>ul>li>ul>li>ul>li:focus-within>a,.navigation_wrapper>ul>li>ul>li>ul>li.cm_current>a{background-color:#f8f8f8
;background-color:rgba(248,248,248
,0.85);color:#982A2C
}
.navigation_wrapper li.cm_has_subnavigation>a:after{border-color:#982A2C
transparent -moz-use-text-color;border-color:rgba(152,42,44
,0.6) transparent -moz-use-text-color;-webkit-transition:border-color .4s;transition:border-color .4s}
.navigation_wrapper li.cm_has_subnavigation.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation:hover>a:after{border-color:#982A2C
transparent -moz-use-text-color}
.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation>a:after{border-color:#f8f8f8
transparent -moz-use-text-color;-webkit-transition:border-color .4s;transition:border-color .4s}
.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation.cm_current>a:after,.navigation_wrapper li.cm_has_subnavigation>ul li.cm_has_subnavigation:hover>a:after{border-color:transparent -moz-use-text-color}
/*cm4all-vars-extension-force-color-begin*/
.cm4all-header-title-color.cm4all-force-color {
    color: #982A2C !important;
}
.cm4all-header-title-color.cm4all-force-background-color {
    background-color: #982A2C !important;
}
.cm4all-header-title-color.cm4all-force-border-color {
    border-color: #982A2C !important;
} 
.cm4all-header-subtitle-color.cm4all-force-color {
    color: #51857c !important;
}
.cm4all-header-subtitle-color.cm4all-force-background-color {
    background-color: #51857c !important;
}
.cm4all-header-subtitle-color.cm4all-force-border-color {
    border-color: #51857c !important;
} 
.cm4all-header-background-color.cm4all-force-color {
    color: #f8f8f8 !important;
}
.cm4all-header-background-color.cm4all-force-background-color {
    background-color: #f8f8f8 !important;
}
.cm4all-header-background-color.cm4all-force-border-color {
    border-color: #f8f8f8 !important;
} 
.cm4all-header-alt-background-color.cm4all-force-color {
    color: #B4A179 !important;
}
.cm4all-header-alt-background-color.cm4all-force-background-color {
    background-color: #B4A179 !important;
}
.cm4all-header-alt-background-color.cm4all-force-border-color {
    border-color: #B4A179 !important;
} 
.cm4all-header-border-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-header-border-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-header-border-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-header-alt-border-color.cm4all-force-color {
    color: #f6feff !important;
}
.cm4all-header-alt-border-color.cm4all-force-background-color {
    background-color: #f6feff !important;
}
.cm4all-header-alt-border-color.cm4all-force-border-color {
    border-color: #f6feff !important;
} 
.cm4all-content-color.cm4all-force-color {
    color: #212121 !important;
}
.cm4all-content-color.cm4all-force-background-color {
    background-color: #212121 !important;
}
.cm4all-content-color.cm4all-force-border-color {
    border-color: #212121 !important;
} 
.cm4all-content-headline-color.cm4all-force-color {
    color: #89744D !important;
}
.cm4all-content-headline-color.cm4all-force-background-color {
    background-color: #89744D !important;
}
.cm4all-content-headline-color.cm4all-force-border-color {
    border-color: #89744D !important;
} 
.cm4all-content-background-color.cm4all-force-color {
    color: #FFFFFF !important;
}
.cm4all-content-background-color.cm4all-force-background-color {
    background-color: #FFFFFF !important;
}
.cm4all-content-background-color.cm4all-force-border-color {
    border-color: #FFFFFF !important;
} 
.cm4all-content-alt-background-color.cm4all-force-color {
    color: #B4A179 !important;
}
.cm4all-content-alt-background-color.cm4all-force-background-color {
    background-color: #B4A179 !important;
}
.cm4all-content-alt-background-color.cm4all-force-border-color {
    border-color: #B4A179 !important;
} 
.cm4all-content-border-color.cm4all-force-color {
    color: #363636 !important;
}
.cm4all-content-border-color.cm4all-force-background-color {
    background-color: #363636 !important;
}
.cm4all-content-border-color.cm4all-force-border-color {
    border-color: #363636 !important;
} 
.cm4all-content-alt-border-color.cm4all-force-color {
    color: #2B2B2B !important;
}
.cm4all-content-alt-border-color.cm4all-force-background-color {
    background-color: #2B2B2B !important;
}
.cm4all-content-alt-border-color.cm4all-force-border-color {
    border-color: #2B2B2B !important;
} 
.cm4all-content-link-color.cm4all-force-color {
    color: #212121 !important;
}
.cm4all-content-link-color.cm4all-force-background-color {
    background-color: #212121 !important;
}
.cm4all-content-link-color.cm4all-force-border-color {
    border-color: #212121 !important;
} 
.cm4all-content-link-hover-color.cm4all-force-color {
    color: #89744D !important;
}
.cm4all-content-link-hover-color.cm4all-force-background-color {
    background-color: #89744D !important;
}
.cm4all-content-link-hover-color.cm4all-force-border-color {
    border-color: #212121  !important;
} 
.cm4all-sidebar-color.cm4all-force-color {
    color: #2D2E2D !important;
}
.cm4all-sidebar-color.cm4all-force-background-color {
    background-color: #2D2E2D !important;
}
.cm4all-sidebar-color.cm4all-force-border-color {
    border-color: #2D2E2D !important;
} 
.cm4all-sidebar-headline-color.cm4all-force-color {
    color: #3B3B3B !important;
}
.cm4all-sidebar-headline-color.cm4all-force-background-color {
    background-color: #3B3B3B !important;
}
.cm4all-sidebar-headline-color.cm4all-force-border-color {
    border-color: #3B3B3B !important;
} 
.cm4all-sidebar-background-color.cm4all-force-color {
    color: #DCCBA7 !important;
}
.cm4all-sidebar-background-color.cm4all-force-background-color {
    background-color: #DCCBA7 !important;
}
.cm4all-sidebar-background-color.cm4all-force-border-color {
    border-color: #DCCBA7 !important;
} 
.cm4all-sidebar-alt-background-color.cm4all-force-color {
    color: #B4A179 !important;
}
.cm4all-sidebar-alt-background-color.cm4all-force-background-color {
    background-color: #B4A179 !important;
}
.cm4all-sidebar-alt-background-color.cm4all-force-border-color {
    border-color: #B4A179 !important;
} 
.cm4all-sidebar-border-color.cm4all-force-color {
    color: #242424 !important;
}
.cm4all-sidebar-border-color.cm4all-force-background-color {
    background-color: #242424 !important;
}
.cm4all-sidebar-border-color.cm4all-force-border-color {
    border-color: #242424 !important;
} 
.cm4all-sidebar-alt-border-color.cm4all-force-color {
    color: #272626 !important;
}
.cm4all-sidebar-alt-border-color.cm4all-force-background-color {
    background-color: #272626 !important;
}
.cm4all-sidebar-alt-border-color.cm4all-force-border-color {
    border-color: #272626 !important;
} 
.cm4all-sidebar-link-color.cm4all-force-color {
    color: #2D2E2D !important;
}
.cm4all-sidebar-link-color.cm4all-force-background-color {
    background-color: #2D2E2D !important;
}
.cm4all-sidebar-link-color.cm4all-force-border-color {
    border-color: #2D2E2D !important;
} 
.cm4all-sidebar-link-hover-color.cm4all-force-color {
    color: #3B3B3B !important;
}
.cm4all-sidebar-link-hover-color.cm4all-force-background-color {
    background-color: #3B3B3B !important;
}
.cm4all-sidebar-link-hover-color.cm4all-force-border-color {
    border-color: #2D2E2D  !important;
} 
.cm4all-navigation-color.cm4all-force-color {
    color: #982A2C !important;
}
.cm4all-navigation-color.cm4all-force-background-color {
    background-color: #982A2C !important;
}
.cm4all-navigation-color.cm4all-force-border-color {
    border-color: #982A2C !important;
} 
.cm4all-navigation-alt-color.cm4all-force-color {
    color: #313130 !important;
}
.cm4all-navigation-alt-color.cm4all-force-background-color {
    background-color: #313130 !important;
}
.cm4all-navigation-alt-color.cm4all-force-border-color {
    border-color: #313130 !important;
} 
.cm4all-navigation-background-color.cm4all-force-color {
    color: #f8f8f8 !important;
}
.cm4all-navigation-background-color.cm4all-force-background-color {
    background-color: #f8f8f8 !important;
}
.cm4all-navigation-background-color.cm4all-force-border-color {
    border-color: #f8f8f8 !important;
} 
.cm4all-navigation-alt-background-color.cm4all-force-color {
    color: #B4A179 !important;
}
.cm4all-navigation-alt-background-color.cm4all-force-background-color {
    background-color: #B4A179 !important;
}
.cm4all-navigation-alt-background-color.cm4all-force-border-color {
    border-color: #B4A179 !important;
} 
.cm4all-navigation-border-color.cm4all-force-color {
    color: #292929 !important;
}
.cm4all-navigation-border-color.cm4all-force-background-color {
    background-color: #292929 !important;
}
.cm4all-navigation-border-color.cm4all-force-border-color {
    border-color: #292929 !important;
} 
.cm4all-navigation-alt-border-color.cm4all-force-color {
    color: #363636 !important;
}
.cm4all-navigation-alt-border-color.cm4all-force-background-color {
    background-color: #363636 !important;
}
.cm4all-navigation-alt-border-color.cm4all-force-border-color {
    border-color: #363636 !important;
} 
.cm4all-subnavigation-color.cm4all-force-color {
    color: #2E2E2E !important;
}
.cm4all-subnavigation-color.cm4all-force-background-color {
    background-color: #2E2E2E !important;
}
.cm4all-subnavigation-color.cm4all-force-border-color {
    border-color: #2E2E2E !important;
} 
.cm4all-subnavigation-alt-color.cm4all-force-color {
    color: #FCFDFD !important;
}
.cm4all-subnavigation-alt-color.cm4all-force-background-color {
    background-color: #FCFDFD !important;
}
.cm4all-subnavigation-alt-color.cm4all-force-border-color {
    border-color: #FCFDFD !important;
} 
.cm4all-subnavigation-background-color.cm4all-force-color {
    color: #E9DEC3 !important;
}
.cm4all-subnavigation-background-color.cm4all-force-background-color {
    background-color: #E9DEC3 !important;
}
.cm4all-subnavigation-background-color.cm4all-force-border-color {
    border-color: #E9DEC3 !important;
} 
.cm4all-subnavigation-alt-background-color.cm4all-force-color {
    color: #C3B088 !important;
}
.cm4all-subnavigation-alt-background-color.cm4all-force-background-color {
    background-color: #C3B088 !important;
}
.cm4all-subnavigation-alt-background-color.cm4all-force-border-color {
    border-color: #C3B088 !important;
} 
.cm4all-subnavigation-border-color.cm4all-force-color {
    color: #2E2E2E !important;
}
.cm4all-subnavigation-border-color.cm4all-force-background-color {
    background-color: #2E2E2E !important;
}
.cm4all-subnavigation-border-color.cm4all-force-border-color {
    border-color: #2E2E2E !important;
} 
.cm4all-subnavigation-alt-border-color.cm4all-force-color {
    color: #363635 !important;
}
.cm4all-subnavigation-alt-border-color.cm4all-force-background-color {
    background-color: #363635 !important;
}
.cm4all-subnavigation-alt-border-color.cm4all-force-border-color {
    border-color: #363635 !important;
} 
.cm4all-footer-color.cm4all-force-color {
    color: #212121 !important;
}
.cm4all-footer-color.cm4all-force-background-color {
    background-color: #212121 !important;
}
.cm4all-footer-color.cm4all-force-border-color {
    border-color: #212121 !important;
} 
.cm4all-footer-alt-color.cm4all-force-color {
    color: #FDFDFC !important;
}
.cm4all-footer-alt-color.cm4all-force-background-color {
    background-color: #FDFDFC !important;
}
.cm4all-footer-alt-color.cm4all-force-border-color {
    border-color: #FDFDFC !important;
} 
.cm4all-footer-background-color.cm4all-force-color {
    color: #B4A179 !important;
}
.cm4all-footer-background-color.cm4all-force-background-color {
    background-color: #B4A179 !important;
}
.cm4all-footer-background-color.cm4all-force-border-color {
    border-color: #B4A179 !important;
} 
.cm4all-footer-alt-background-color.cm4all-force-color {
    color: #D8C6A2 !important;
}
.cm4all-footer-alt-background-color.cm4all-force-background-color {
    background-color: #D8C6A2 !important;
}
.cm4all-footer-alt-background-color.cm4all-force-border-color {
    border-color: #D8C6A2 !important;
} 
.cm4all-footer-border-color.cm4all-force-color {
    color: #242424 !important;
}
.cm4all-footer-border-color.cm4all-force-background-color {
    background-color: #242424 !important;
}
.cm4all-footer-border-color.cm4all-force-border-color {
    border-color: #242424 !important;
} 
.cm4all-footer-alt-border-color.cm4all-force-color {
    color: #2B2B2B !important;
}
.cm4all-footer-alt-border-color.cm4all-force-background-color {
    background-color: #2B2B2B !important;
}
.cm4all-footer-alt-border-color.cm4all-force-border-color {
    border-color: #2B2B2B !important;
} 
.cm4all-body-background-color.cm4all-force-color {
    color: #ffffff !important;
}
.cm4all-body-background-color.cm4all-force-background-color {
    background-color: #ffffff !important;
}
.cm4all-body-background-color.cm4all-force-border-color {
    border-color: #ffffff !important;
}
/*cm4all-vars-extension-force-color-end*/